.phone {
  position: relative;
  width: 335px;
  height: 657px;
  margin: 36px auto 0;
  z-index: 2
}

.wrap {
  position: absolute;
  width: 272px;
  height: 425px;
  top: 140px;
  left: 32px;
  overflow: hidden;
}

.slide {
  position: absolute;
  display: block;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease 0s;

  &.slideOut {
    transform: translate3d(-271px, 0, 0);
  }

  &.hide {
    display: none;
  }
}

