@import "../../../styles/variables";

.wrap {
  display: flex;
  flex-direction: row;
  margin: 0 -16px;
  outline: 1px solid red;

  > div {
    width: 50%;
  }

  .image {

  }

  .content {
    background: $greenBg;
  }
}
