@import "../../styles/variables";
@import "../../styles/mixins";

.wrap {
  position: relative;
  padding: 0 16px 72px;
  min-height: 288px;
  background: $greenBgLight;

  .inner {
    position: relative;
    max-width: 1024px;
    margin: auto;
  }

  h3 {
    padding-top: 48px;
    margin: 0;
    font-size: 2em;
    color: $darkBlue;
    font-weight: normal;
  }

  span {
    position: relative;
    display: block;
    height: 3px;
    background: $fontYellow;

    &:before {
      content: "";
      position: absolute;
      height: 3px;
      background: $greenBgLight;
      right: 0;
      transition: 1s ease-in-out;
      transform: translate3d(0, 0, 0);
    }
  }

  @include animatedBorder(312px);

  div.svg {
    position: absolute;
    top: 90px;
    left: 50px;

    > svg {
      width: 206px;
      height: 242px;
      stroke-width: 0;
      fill-opacity: 1;
      stroke: rgb(0, 0, 0);
      stroke-opacity: 0;
      fill: rgb(255, 255, 255);
    }

    > div {
      position: absolute;
      top: 78px;
      left: 70px;
    }

    > div > svg {
      width: 79px;
      height: 78px;
      stroke-width: 0;
      fill-opacity: 1;
      stroke: rgb(0, 0, 0);
      stroke-opacity: 0;
      fill: rgb(212, 210, 0);
    }
  }

  .contentWrap {
    position: relative;
    margin-left: 280px;
    color: $darkBlue;

    .textBox {
      display: flex;
      flex-direction: row;
    }

    .left {
      p {
        font-weight: 900;
        padding-right: 24px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .wrap {

    .inner {
      position: static;
    }

    div.svg {
      position: absolute;
      top: 89px;
      right: 50px;
      left: auto;

      > svg {
        width: 103px;
        height: 121px;
      }

      > div {
        position: absolute;
        top: 39px;
        left: 35px;
      }

      > div > svg {
        width: 38px;
        height: 39px;
      }
    }

    .contentWrap {
      max-width: 500px;
      margin: auto;

      .textBox {
        flex-direction: column;

        > div {
          max-width: 100%;
        }
      }
    }
  }
}
