@import "../../styles/variables";

.openYourDiaryButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 300px;
  margin: 64px auto 0;
  padding: 8px;
  border: 1px solid white;
  border-radius: 2px;
  background: $darkBlue;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;

  &:hover {
    background: $specialGreen;
    border: 1px solid transparent;
  }
}

.blackWhiteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 300px;
  margin: 64px auto 0;
  padding: 8px;
  border: 2px solid black;
  border-radius: 2px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.4s ease 0s, background-color 0.4s ease 0s;

  &:hover {
    background: black;
    color: white;
  }
}

.InputWhiteBlueButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  padding: 8px;
  background: $darkBlue;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  cursor: pointer;

  &:hover {
    background: $specialGreen;
    border: 1px solid transparent;
  }
}
