@import "../../../styles/variables";
@import "../../../styles/mixins";

.wrap {
  position: relative;
  padding: 0 0 64px;
  background: white;
  text-align: center;

  .content {
    max-width: 1024px;
    margin: auto;
  }

  section {
    /*display: flex;
    flex-direction: row;*/
    display: inline-block;
    width: 100%;
    max-width: 1024px;
    margin: auto;
    padding-top: 64px;
    text-align: left;

    > div {
      width: 50%;
      padding-left: 48px;
      box-sizing: border-box;
    }

    h3 {
      font-size: 2em;
      color: $darkBlue;
      font-weight: normal;
    }

    p {
      max-width: 300px;
      font-size: 1.2em;
      line-height: 1.4em;
    }

    ul {
      color: $darkBlue;
      font-weight: 400;
      line-height: 2em;
      font-size: 1.4em;
    }

    em {
      position: relative;
      font-size: 8em;
      font-weight: 900;
      color: $darkBlue;
      font-style: normal;
    }

    span {
      position: relative;
      display: block;
      height: 3px;
      background: $fontYellow;

      &:before {
        content: "";
        position: absolute;
        height: 3px;
        background: white;
        right: 0;
        transition: 1s ease-in-out;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  section:nth-child(1) {
    div:nth-child(1) {
      float: right;
    }

    div:nth-child(2) {
      float: left;
    }

    em {
      left: 120px;
    }

    @include animatedBorder(312px);
  }

  section:nth-child(2) {
    div:nth-child(1) {
      float: left;
    }

    div:nth-child(2) {
      float: right;
    }

    ul {
      margin-left: 48px;
    }

    @include animatedBorder(290px);
  }

  section:nth-child(3) {
    div:nth-child(1) {
      float: right;
    }

    div:nth-child(2) {
      float: left;
    }

    em {
      left: 200px;
    }

    @include animatedBorder(202px);
  }
}

@media (max-width: $tablet) {
  .wrap {
    section {

      div {
        width: 100%;
        max-width: 400px;
        margin: auto;
        padding: 0 16px;
        float: none !important;
      }

      ul {
        display: none;
      }

      em {
        display: block;
        text-align: center;
        left: auto !important;
      }
    }
  }
}
