@import "../styles/variables";

.excerpt {
  display: block;
  margin-top: 12px;
  background: white;

  text-decoration: none;

  &:hover h3 {
    text-decoration: underline;
  }

  h3 {
    margin-top: 1em;
    color: $linkBlue;
  }

  &:not(:first-of-type) h3 {
      margin-top: 48px;
  }

  p {
    color: $darkBlue;
    text-decoration: none;
    font-style: italic;
    font-size: 1em;
    margin-top: 4px;
  }
}
