.wrap {
  padding: 0 8px;
  color: white;

  .content {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: auto;
  }

  .form {
    outline: 1px solid white;
    max-width: 500px;
    width: 100%;
    margin-right: 24px;
  }

  .text {
    outline: 1px solid salmon;
    width: 50%;
  }

  h2 {
    max-width: 1024px;
    margin: 48px auto 0;
  }

  a {
    color: white;
  }
}

@media (max-width: 800px) {
  .wrap {
    .content {
      flex-direction: column;
      max-width: 500px;
    }

    h2 {
      max-width: 500px;
    }

    .form {
      margin: 0;
    }

    .text {
      max-width: 100%;
      width: 100%;
      margin-top: 24px;
    }
  }
}
