@import "../../styles/variables";

.wrap {
  padding: 8px 8px 56px;
  color: white;
  background: $darkBlue;

  .content {
    display: flex;
    flex-direction: row;
    max-width: 1024px;
    margin: auto;
  }

  .form {
    max-width: 500px;
    width: 100%;
    margin-right: 24px;

    > div {
      margin: 16px 0 16px;
    }
  }

  .text {
    width: 50%;
  }

  h2 {
    max-width: 1024px;
    margin: 48px auto 0;
  }

  a {
    color: white;
  }
}

@media (max-width: 800px) {
  .wrap {
    .content {
      flex-direction: column;
      max-width: 500px;
    }

    h2 {
      max-width: 500px;
    }

    .form {
      margin: 0;

      > div {
        margin: 16px auto;
      }
    }

    .text {
      max-width: 100%;
      width: 100%;
      margin-top: 24px;
    }
  }
}
